/* resetando css */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  width: 100vw;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  background-position: center 0px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  text-align: center;
  max-width: 380px;
  max-height: 700px;
}

.card .card__image {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.card__container {
  padding: 0 24px;
}
.card .card__title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin: 20px;
}

.card .card__description {
  color: hsl(224, 23%, 55%);
  margin: 20px 24px;
  line-height: 32px;
}

.card .card__plan-info {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 16px;
  width: 100%;
  padding: 16px;
}

.card__plan-info .plan-info__description {
  text-align: left;
}

.plan-info__description .plan-info__title {
  font-size: 16px;
  font-weight: 700;
}

.plan-info__description .plan-info__price {
  color: hsl(224, 23%, 55%);
}
.card__plan-info .plan-info__link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  transition: all 0.5s;
}

.card__plan-info .plan-info__link:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%, 0.8);
}
.card .card__button {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__button .card__button--primary {
  margin-bottom: 4px;
  border: 0px;
  border-radius: 16px;
  background: hsl(245, 75%, 52%);
  font-weight: 900;
  color: #fff;
  box-shadow: 0px 8px 40px 0px hsla(245, 75%, 52%, 0.4);
  transition: all 0.5s;
}
.card__button .card__button--primary:hover {
  background: hsl(245, 75%, 52%, 0.8);
}

.card__button .card__button--secundary {
  background: none;
  border: 0px;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}
